
[submodule "NamedType"]
	path = NamedType
	url = https://github.com/adepier/NamedType.git
[submodule "mbed_PID_Library"]
	path = mbed_PID_Library
	url = https://github.com/adepier/mbed_PID_Library.git
[submodule "mbed_PWMServoDriver"]
	path = mbed_PWMServoDriver
	url = https://github.com/adepier/mbed_PWMServoDriver.git
[submodule "mbed_hall_driven_motor"]
	path = mbed_hall_driven_motor
	url = https://github.com/adepier/mbed_hall_driven_motor.git
[submodule "mbed_I2Cdev"]
	path = mbed_I2Cdev
	url = https://github.com/adepier/mbed_I2Cdev.git
[submodule "mbed_MPU6050"]
	path = mbed_MPU6050
	url = https://github.com/adepier/mbed_MPU6050.git
